  <div *ngIf="photo">
	<form [formGroup]="mediaForm" novalidate class="update">
			<div  class="form-group">
				<label class="center-block">
					Url:
					<input [(ngModel)]="photo.url" class="form-control" formControlName="url">
				</label>
			</div>

				<div class="form-group">
				<label class="center-block">
					Description:
					<input [(ngModel)]="photo.description" class="form-control" formControlName="description"></label>
				</div>	
			
		<button (click)="goBack()">back</button>
		<button (click)="save()">update</button>
	</form>
</div>	
	<p>Form value: {{ mediaForm.value|json}}</p>
	<p>Form status: {{ mediaForm.status | json }}</p>
		
		

