<h1>{{title}}</h1>
  <div class="list">
  <ul class="media">
	<li *ngFor="let photo of media" [class.selected]="photo===selectedPhoto" (click)="onSelect(photo)">
	
		<div class="img"><img src="{{photo.url}}"/></div>
		<!--<span class="description" >{{photo.description}}</span>-->
		
		</li>
		
</ul>
</div>

<!--<div class="image">
<div *ngIf="selectedPhoto">
<h2>id:{{selectedPhoto.id}} {{selectedPhoto.description}}</h2>
<div class="photo"><img src="{{selectedPhoto.url}}"/></div>
<input [(ngModel)]="selectedPhoto.description" placeholder="description"/>

</div>
</div>-->