
  <div class="list">
  <ul class="media">
	<li *ngFor="let photo of medi" [class.selected]="photo === selectedPhoto">
	
		<div class="img"><img src="{{photo.url}}"/></div>
			<div class="btn">
				<div class="desc">{{photo.description| uppercase}}</div>
		 
					<i class="fa fa-edit fa-2x" (click)="onSelect(photo)"></i>
					<i class="fa fa-trash-o fa-2x" (click) ="delete(photo); $event.stopPropagation()"></i>
			</div>
	</li>
		
</ul>


  <div class="create">
<h2>create media</h2>
<div><label> Url:</label> </div>
<div><input  #mediaUrl /></div>
<div><label> Description:</label></div> 
<div><input  #mediaDescription /></div>



 <button (click)="add(mediaUrl.value); mediaUrl.value=''">add new media</button>
 
 </div>
<!--<button class="add"><span>add new media</span></button>-->
 </div>
